body {
  background-image: url('../imagenes/login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Estilos para el formulario */
#login-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

/* Estilos para los campos de entrada */
#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  background-color: #f7f7f7;
  margin-bottom: 10px;
}

/* Estilos para el botón de enviar */
#login-form input[type="submit"] {
  padding: 10px;
  font-weight: 700;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

/* Estilos para el botón "Login with Google" */
#google-login {
  padding: 10px;
  background-color: #f7f7f7;
  color: #333;
  border-color: #ccc;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

/* Estilos para el botón "Login with Google" en estado hover */
#google-login:hover {
  background-color: #c9c7c7;
}

/* Estilos responsive */
@media screen and (max-width: 480px) {
  #login-form {
    padding: 20px;
    margin-top: 30px;
  }

  #login-form input[type="text"],
  #login-form input[type="password"],
  #login-form input[type="submit"],
  #google-login {
    width: 100%;
    margin-bottom: 15px;
  }
}
