

/*
<<<<<<< HEAD
.main-page{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-image: linear-gradient(rgba(4, 9, 30, 0.584), rgba(4, 9, 30, 0.616)), url(multimedia/imgs/login.jpg);
  background-size: cover;
  position: relative;
}

.inicio{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1{
  font-size: 36px;
  font-weight: 600;
}

.login-google{
  width: 80%;
  margin: center;
  text-align: center;
  padding-top: 100px;

 .container{
  width: 100%;
  height: 100%;
  background-image:url(multimedia/imgs/login.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
} 

.username{
    position: relative;
    float: center;
    margin: 0 auto;
    width: 100%;
    max-width: 315px;
    padding: 0;
  }

.form-box{
  width: 390px;
  height: 460px;
  position: relative;
  margin: 10% auto;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.button-box{
  width: 260px;
  margin: 30px auto;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 20px 9px #b9b7b0;
}
.toggle-btn{
  padding: 15px 25px;
  cursor: pointer;
  background: transparent;
  border: 0px;
  outline: none;
  position: relative;
  font-size: 14px;
}

#elegir{
  top: 0;
  left: 0;
  position: absolute;
  width: 130px;
  height: 100%;
  border-radius: 30px;
  border-color: #25757f;
  background: linear-gradient(to right, rgba(32, 109, 114, 0.859), rgba(50, 164, 172, 0.859));
  transition: 1s;
}
.input-group{
  top: 160px;
  position: absolute;
  width: 280px;
  transition: 1s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid #147575;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 95%;
  padding: 13px 33px;
  cursor: pointer;
  display:block;
  margin-left: 26px;
  background: linear-gradient(to right, rgba(32, 109, 114, 0.859), rgba(50, 164, 172, 0.859));
  border: 0px;
  outline: none;
  border-radius: 30px;
  font-size: 14px;
}

.check-box{
  margin: 25px 10px 24px 0;
  color: #dbbd71;
  font-size: 13px;
}
.check-box1{
  margin: 25px 10px 24px 0;
  color: #dbbd71;
  font-size: 1px;
}


#login{
  left: 50px;
}

#signup{
  left: 450px;
}

.warning{
  width: 200px;
  text-align: center;
  margin: auto;
  color: rgb(243, 222, 39);
  padding-top: 20px;
  padding-left: 35px;
  font-size: 20px;
}

=======

/* Estilos para el formulario */
#login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 420px;
  padding: 40px;
  background-color:white;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-self: center;
  position: absolute;
  margin-left: 35%;
  margin-right: 20%;
  margin-top: 60px;
}

h1 {
  text-align: center;
  padding-bottom:10px ;
}

/* Estilos para los campos de entrada */
#login-form input[type="text"],
#login-form input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  align-self: center;
  justify-content: center;
  width: 300px;
  background-color: #f7f7f7;
}

.form-center {
  position: absolute;
  width: 100%;
  height: 100px;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 10px;
}


/* Estilos para el bot贸n de enviar */
#login-form input[type="submit"] {
  padding: 10px;
  font-weight: 700;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 30px;
  width: 300px;
  text-align: center;
  align-self: center;
}

/* Estilos para el bot贸n de enviar al pasar el mouse */
#login-form input[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para el bot贸n "Login with Google" */

#google-login {
  width: 300px;
  padding: 10px;
  background-color: #f7f7f7;
  color: #333;
  border-color: #ccc;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
  align-self: center;
  justify-content: center;
}

/* Estilos para el bot贸n "Login with Google" en estado hover */
#google-login:hover {
  background-color: #c9c7c7;
}